@import url('https://fonts.googleapis.com/css?family=Asap:400,500,500i,700');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #24272E;
	color: #FFF;
	font: Asap, sans-serif;
	text-align: center;
}
header{
	background: #FFF;
	padding: 20px;
}
header > h1 {  }

/* classes */

/* ids */





