@import url('https://fonts.googleapis.com/css?family=Asap:400,500,500i,700');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #24272E;
	color: #FFF;
	font: Asap, sans-serif;
	text-align: center;
}
header{
	background: #FFF;
	padding: 20px;
}
header > h1 {
	color: #25272E;
}

/* classes */
.score-board{
	position: relative;
	margin: 20px auto;
	border: 3px solid #FFF;
	border-radius: 4px;
	width: 200px;
	font-size: 46px;
	padding: 15px 20px;
}
.badge{
	background: #E2584D;
	font:14px;
	padding: 2px 10px;
}
.result{
	font-size: 40px;
}
.result > p{
	text-align: center;
	font-weight: bold;
}
.choice{
	display: inline-block;
}

/* ids */
#user-label{
	position: absolute;
	top: 30px;
	left: -25px;
}
#comp-label{
	position: absolute;
	top: 30px;
	right: -30px;
}





