@import url('https://fonts.googleapis.com/css?family=Asap:400,500,500i,700');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #24272E;
}
header{
	background: #FFF;
	padding: 20px;
}
header > h1 {
	color: #25272E;
	text-align: center;
	font: Asap, sans-serif;
}

.score-board{
	margin: 20px auto;
	border: 3px solid #FFF;
	width: 200px;
}